/target/
/.idea/
/.DS_Store
/.env
/allure-results
/execution-summary
/extent-reports
/allure-results/environment.xml
**/.settings
**/.classpath
**/.project
**/.idea/
**/allure-results/
**/extent-reports/
**/target/
.classpath
/.classpath
/.classpath/
.project
/.project
/.project/
.settings/
/.settings
/.settings/
target/
/target